.izquierda {
    width: 30%;
    height: 600px;
    float: left;
    margin: 5px;
   position: fixed;
}
.derecha {
    
    width: 65%;
    float: right;
}


body{
    background-color: #272727;
    color: white;
    font-family: Arial, Helvetica, sans-serif;    
}

div.iconos{
    padding: 5px;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

h5{
    text-align: center;
}
table.rojo{
    background-color: #a63e49;
    text-align: center;    
    width: 400px;
}
p{
    text-align: center;
}

tr.rosa{
height: 50px;

}

.colum p{
    width: 500px;
    text-align: justify;
}

.colum img {
    width: 500px;
    height: 250px;
}


td.espacio{
    width: 60px;
    height: 40px;
}
td.esp{
    width: 60px;
}

td.esp2{
    width: 40px;
}

td.cono{
    background-color: rgb(116, 103, 103);
    width: 510px;
}

table.titulos{
    text-align: center;
}
tr.si{
    width: 50px;
    height: 50px;
}
tr.no{
    width: 70px;
    height: 50px;
    text-shadow: hotpink;
}
tr.esp{
  height: 30px;
}

table.negro{    
    text-align: justify;
    
}

td#foto{    
    max-width:20px; 
    max-height:20px   
}

div.contenedordebotones{
    
    color: white;
}


tr.si{
    background-color: #ebe7e7;
    color: rgb(172, 47, 134);
    height: 70px;
}


tr.no:hover{
    background-color: #ebe7e7;
    color: rgb(172, 47, 134);
    height: 70px;
}

hr.rojo{
    border-color: red;
    background-color: red;
    width: 60px;
    height: 2px;
}


div.contenedorbotones{
    color: white;
    text-align: center;
   
}

tr.resaltar:hover{    
    background-color: deeppink;
}

tr.resaltar{    
    background-color: cadetblue;       
    height: 100px;
}

td.resaltar{
width: 150px;
background-color: rgb(50, 155, 50);

}

div.contenedorinformacion{
background-color: rgb(68, 32, 15);
width: 700px;
}

img#contenedorImagen{
    
    width: 270px;
}
img.derecha{
    
    width: 30px;
    height: 50px;
}
.contenedordeboton img{
    width: 100px;
    margin: 20px;

}
.contenedordeboton img:hover{
    transform: scale(1.1);
    
}

a{
    color: white;

}

a:hover {
    color: brown;
}

.ico img:hover {
    background-color: rgb(122, 122, 122);
}

.años {
    font-size: 50px;
    text-align: center;    
}
